<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
    <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]-->
    <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
    <!--[if gte mso 9]>
<noscript>
         <xml>
           <o:OfficeDocumentSettings>
           <o:AllowPNG></o:AllowPNG>
           <o:PixelsPerInch>96</o:PixelsPerInch>
           </o:OfficeDocumentSettings>
         </xml>
      </noscript>
<![endif]-->
    <!--[if !mso]><!-- -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i">
    <!--<![endif]-->
    <!--[if mso]><xml>
    <w:WordDocument xmlns:w="urn:schemas-microsoft-com:office:word">
      <w:DontUseAdvancedTypographyReadingMail/>
    </w:WordDocument>
    </xml><![endif]-->
  </head>
  <body class="body">
    <div dir="ltr" class="es-wrapper-color">
      <!--[if gte mso 9]>
 <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
   <v:fill type="tile"  color="#fafafa" origin="0.5, 0" position="0.5, 0"></v:fill>
 </v:background>
<![endif]-->
      <table width="100%" cellspacing="0" cellpadding="0" class="es-wrapper">
        <tbody>
          <tr>
            <td valign="top" class="esd-email-paddings">
              <table cellpadding="0" cellspacing="0" align="center" class="esd-header-popover es-header">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600" class="es-header-body">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p20">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" valign="top" align="center" class="es-m-p0r esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-image" style="font-size:0px">
                                              <a target="_blank" href="https://flytoptravels.com/">
                                                <img src="https://flytoptravels.com/flytop-header.png" alt="FlyTop Travels" height="46" title="FlyTop Travels" class="img-5485" style="display: block">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellspacing="0" cellpadding="0" align="center" class="es-content">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" class="es-content-body" style="background-color:#ffffff">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure">
                              <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="600" align="center" valign="top" class="es-m-p0r es-m-p20b esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-image" style="font-size: 0">
                                              <a target="_blank">
                                                <img src="https://flytoptravels.com/email.jpg" alt="" width="600" class="adapt-img">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" align="center" class="es-content">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600" class="es-content-body">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p20t es-p30b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" align="center" valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-text es-p40r es-p40l es-m-p0r es-m-p0l">
                                              <h1 class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif">
                                                Welcome to FLYTOP TRAVELS!
                                              </h1>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="center" class="esd-block-text es-p40r es-p40l es-m-p0r es-m-p0l">
                                              <h2 class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif">
                                                Hello {{name}}
                                              </h2>
                                              <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif">
                                                {{email}}<br>{{telephone}}
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="center" class="esd-block-text es-p20t es-p40r es-m-p0r es-m-p0l es-p40l">
                                              <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                Thank you for reaching out. Our service is 100% personalized, aiming to provide the best offers and solutions for your trip.
                                              </p>
                                              <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                Additionally, we need the following information to proceed:
                                              </p>
                                              <ul>
                                                <li style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                  <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                    Round trip or One way?
                                                  </p>
                                                </li>
                                                <li style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                  <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                    Number of infants, children (ages 2-11), and adults
                                                  </p>
                                                </li>
                                                <li style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                  <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                    Departure date
                                                  </p>
                                                </li>
                                                <li style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                  <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                    Return date
                                                  </p>
                                                </li>
                                              </ul>
                                              <p class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif; text-align: left">
                                                Once we have this information, a member of our FLYTOP team will contact you shortly to present the best options.
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table cellpadding="0" cellspacing="0" align="center" class="es-content">
                <tbody></tbody>
              </table>
              <table cellpadding="0" cellspacing="0" align="center" class="es-footer esd-footer-popover">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600" class="es-footer-body">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p40t es-p20b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" align="center" valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-text">
                                              <h2 class="es-m-txt-c" style="font-family: roboto,&#39;helvetica neue&#39;,helvetica,arial,sans-serif">
                                                Any questions? <span style="color: #003054">We're here to help!</span>
                                              </h2>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="center" class="esd-block-social es-p20t es-p30b" style="font-size:0">
                                              <table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social">
                                                <tbody>
                                                  <tr>
                                                    <td align="center" valign="top" class="es-p24r">
                                                      <a target="_blank" href="https://www.instagram.com/flytoptravels">
                                                        <img title="Instagram" src="https://localfiles.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png" alt="Inst" height="32" width="32">
                                                      </a>
                                                    </td>
                                                    <td align="center" valign="top" class="es-p30r">
                                                      <a target="_blank" href="https://www.facebook.com/profile.php?id=61564149964439&mibextid=LQQJ4d">
                                                        <img title="Facebook" src="https://localfiles.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png" alt="Fb" height="32" width="32">
                                                      </a>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td align="center" class="esd-block-text">
                                              <p>
                                                Copyright © 2025 FLYTOP TRAVELS, All rights reserved.<br><br>
                                              </p>
                                              <p>
                                                This email is sent by FLYTOPTRALVES LLC, Registered address: Miami, Florida / USA.
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td align="left" class="esd-structure es-p30t es-p30b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" align="left" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-image es-infoblock made_with" style="font-size:0">
                                              <a target="_blank" href="https://flytoptravels.com/">
                                                <img src="https://flytoptravels.com/flytop-header.png" alt="FlyTop Travels" width="125" title="FlyTop Travels" class="img-9124" style="display: block">
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>